
			
.NoMatch {
    text-align: center;
    width: 500px;
    margin: 10% auto;

    i {
        font-style: normal;
        font-size:200px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }
}
